eval "$(pixi shell-hook)"
export CUDA_HOME="${PWD}/.pixi/envs/default"
unset CUDA_PATH
export PATH="$CUDA_HOME/bin:$PATH"
export LIBRARY_PATH="$CUDA_HOME/lib/stubs/:$CUDA_HOME/lib/:$LIBRARY_PATH"
# export LD_LIBRARY_PATH="$CUDA_HOME/lib/stubs/:$CUDA_HOME/lib/:$LIBRARY_PATH"
